<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.lf.admin.db.dao.CustomerMapper" >
  <resultMap id="BaseResultMap" type="org.lf.admin.db.pojo.Customer" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="UNAME" property="uname" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="query_selective">
  	<if test="id != null" >
      AND ID=#{id,jdbcType=INTEGER}
    </if>
    <if test="uname != null" >
      AND UNAME=#{uname,jdbcType=VARCHAR}
    </if>
    <if test="name != null" >
      AND NAME LIKE CONCAT('%',#{name,jdbcType=VARCHAR},'%')
    </if>
    <if test="phone != null" >
      AND PHONE LIKE CONCAT('%',#{phone,jdbcType=VARCHAR},'%')
    </if>
    <if test="address != null" >
      AND ADDRESS=#{address,jdbcType=VARCHAR}
    </if>
  </sql>
  <sql id="Base_Column_List" >
    ID, UNAME, NAME, PHONE, ADDRESS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from customer
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from customer
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.lf.admin.db.pojo.Customer" >
    insert into customer (ID, UNAME, NAME, 
      PHONE, ADDRESS)
    values (#{id,jdbcType=INTEGER}, #{uname,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.lf.admin.db.pojo.Customer" >
    insert into customer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="uname != null" >
        UNAME,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="phone != null" >
        PHONE,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uname != null" >
        #{uname,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.lf.admin.db.pojo.Customer" >
    update customer
    <set >
      <if test="uname != null" >
        UNAME = #{uname,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.lf.admin.db.pojo.Customer" >
    update customer
    set UNAME = #{uname,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="select" parameterType="org.lf.admin.db.pojo.Customer"
  resultMap = "BaseResultMap">
  	select * from customer
  		<where>
  			<include refid="query_selective"></include>
  		</where>
  </select>
  <select id="selectList" parameterType="org.lf.admin.db.pojo.Customer"
  resultMap = "BaseResultMap">
  	select * from customer
  		<where>
  			<include refid="query_selective"></include>
  		</where>
  </select>
  <select id="selectCustomerByUname" parameterType="java.lang.String"
  resultMap = "BaseResultMap">
  	select * from customer where uname = #{uname,jdbcType=VARCHAR}
  </select>
</mapper>