<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.lf.admin.db.dao.WineMapper" >
  <resultMap id="BaseResultMap" type="org.lf.admin.db.pojo.Wine" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="MC" property="mc" jdbcType="VARCHAR" />
    <result column="PRICE" property="price" jdbcType="INTEGER" />
    <result column="DATE" property="date" jdbcType="DATE" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="query_selective">
  	  <if test="id != null" >
        AND ID=#{id,jdbcType=INTEGER}
      </if>
      <if test="mc != null" >
        AND MC LIKE CONCAT('%',#{mc,jdbcType=VARCHAR},'%')
      </if>
      <if test="price != null" >
        AND PRICE <![CDATA[   >=  ]]> #{price,jdbcType=INTEGER}
      </if>
      <if test="date != null" >
        AND DATE <![CDATA[   >=  ]]> #{date,jdbcType=DATE}
      </if>
      <if test="remark != null" >
        AND REMARK=#{remark,jdbcType=VARCHAR}
      </if>
  </sql>
  <sql id="Base_Column_List" >
    ID, MC, PRICE, DATE, REMARK
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from wine
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wine
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.lf.admin.db.pojo.Wine" >
    insert into wine (ID, MC, PRICE, 
      DATE, REMARK)
    values (#{id,jdbcType=INTEGER}, #{mc,jdbcType=VARCHAR}, #{price,jdbcType=INTEGER}, 
      #{date,jdbcType=DATE}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.lf.admin.db.pojo.Wine" >
    insert into wine
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="mc != null" >
        MC,
      </if>
      <if test="price != null" >
        PRICE,
      </if>
      <if test="date != null" >
        DATE,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="mc != null" >
        #{mc,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=INTEGER},
      </if>
      <if test="date != null" >
        #{date,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.lf.admin.db.pojo.Wine" >
    update wine
    <set >
      <if test="mc != null" >
        MC = #{mc,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        PRICE = #{price,jdbcType=INTEGER},
      </if>
      <if test="date != null" >
        DATE = #{date,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.lf.admin.db.pojo.Wine" >
    update wine
    set MC = #{mc,jdbcType=VARCHAR},
      PRICE = #{price,jdbcType=INTEGER},
      DATE = #{date,jdbcType=DATE},
      REMARK = #{remark,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <select id="select" parameterType="org.lf.admin.db.pojo.Wine"
  resultMap="BaseResultMap">
  	select * from wine
  		<where>
  			<include refid="query_selective"></include>
  		</where>
  </select>
  <select id="selectList" parameterType="org.lf.admin.db.pojo.Wine"
  resultMap="BaseResultMap">
  	select * from wine
  		<where>
  			<include refid="query_selective"></include>
  		</where>
  </select>
  <select id="selectWineByMc" parameterType="java.lang.String"
  resultMap="BaseResultMap">
  	select * from wine where mc = #{mc,jdbcType=VARCHAR}
  </select>
</mapper>